:root {
  --headerFont1: "Orbitron", sans-serif;
  --headerFont2: "Teko", sans-serif;
  --bodyFont: "Exo 2", sans-serif;
  --black: #000000;
  --spockBlue: #0099f6;
  --silver: #c3c3c3;
  --blueSilGradient: linear-gradient(to bottom, var(--silver), var(--spockBlue));
  --blackSilGradient: linear-gradient(to bottom, var(--black), var(--silver));
}

body {
  color: var(--black);
  background-color: var(--spockBlue);
}

h1 {
  font-family: var(--headerFont1);
}

h2,
button {
  font-family: var(--headerFont2);
}

p,
li {
  font-family: var(--bodyFont);
}

#scores {
  margin-top: 25px;
}

#wins,
#losses,
#draws,
.btnRow {
  display: flex;
  justify-content: center;
}

.row ol {
  padding-left: 50px;
}

.startBtn {
  background: var(--black);
  color: var(--spockBlue);
  border: 3px solid var(--black);
  border-radius: 12px;
  font-family: var(--headerFont2);
  height: 3em;
  width: 6em;
  font-size: 16px;
}
.startBtn:hover {
  color: var(--spockBlue);
  background: var(--blackSilGradient);
  border: none;
  box-shadow: 0 0 0 3px var(--black);
  font-size: 18px;
}
.startBtn:focus {
  color: var(--black);
  background: var(--blueSilGradient);
  box-shadow: none;
  font-size: 16px;
}