:root {
  --headerFontMaj: "Orbitron", sans-serif;
  --headerFontMinor: "Teko", sans-serif;
  --bodyFont: "Exo 2", sans-serif;
  --black: #000000;
  --spockBlue: #0099f6;
  --silver: #c3c3c3;
  --blueSilGradient: linear-gradient(to bottom, var(--spockBlue), var(--silver));
  --blackSilGradientDown: linear-gradient(to bottom, var(--black), var(--silver));
  --blackSilGradientUp: linear-gradient(to top, var(--black), var(--silver));
}

body {
  color: var(--black);
  background-color: var(--spockBlue);
}

/* div {
  border: 1px solid red;
} */

h1 {
  font-family: var(--headerFontMaj);
}

h2,
button {
  font-family: var(--headerFontMinor);
}

p,
li {
  font-family: var(--bodyFont);
}

#scores {
  margin-top: 25px;
}

#wins,
#losses,
#draws,
.btnRow {
  display: flex;
  justify-content: center;
}

.row ol {
  padding-left: 50px;
}

.buttonRow {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.choice {
  padding-top: 10px;
}

.computer {
  text-align: right;
}

.results {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--black);
}

.user {
  border-top: 2px solid var(--black);
}

.startBtn,
.playerBtn {
  background: var(--black);
  color: var(--spockBlue);
  border: 3px solid var(--black);
  border-radius: 25px;
  font-family: var(--headerFontMinor);
  height: 3em;
  width: 6em;
  font-size: 16px;
}
.startBtn:hover,
.playerBtn:hover {
  color: var(--spockBlue);
  background: var(--blackSilGradientUp);
  border: none;
  box-shadow: 0 0 0 3px var(--black);
  font-size: 17px;
}
.startBtn:focus
.playerBtn:focus {
  color: var(--black);
  background: var(--blackSilGradientDown);
  box-shadow: none;
  font-size: 16px;
}