:root {
  --black: #000000;
  --spockBlue: #0099f6;
}

body {
  color: var(--black);
  background-color: var(--spockBlue);
}

h1 {
  font-family: "Orbitron", sans-serif;
}

h2 {
  font-family: "Teko", sans-serif;
}

p,
li {
  font-family: "Exo 2", sans-serif;
}
